{% extends 'base.html' %}

{% block title %}
    Ingresos
{% endblock %}

{% block container %}   
    <div class="row" action="">
        <div class="col s12 l3">
            <form>
                {% csrf_token %}
                <div>
                    <label>Fuente</label>
                     <select >
                        {% for f in Fuentes %}
                            <option value="{{f.id}}">Fuente: {{ f.Fuente }} - {{ f.Saldo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Fecha Registro</label>
                    <input type="date" name="fecha_registro" id="start" name="trip-start" value="2020-07-10">
                </div>
                <div>
                    <label>Monto</label>
                    <input id="Monto" name="Monto" type="number"  class="validate"/>
                </div>
        </div>
        <div class="col s12 l8">
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fuente</th>
                            <th>Fecha Registro</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Ingresos %}
                            <tr>
                                <td>{{ i.Fuente }}</td>
                                <td>{{i.Fecha_Registro }}</td>
                                <td>{{ i.Monto }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            
        </div>
    </div>

{% endblock  %}


{% block js %}

{% endblock js %}
