{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/dataTable/datatables.min.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>
<body>
    <script src="{% static 'global/js/jquery.min.js' %}"></script>
    <script src="{% static 'global/js/materialize.min.js' %}"></script>
    <script src="{% static 'plugins/dataTable/datatables.min.js' %}"></script>
    <script src="{% static 'global/js/custon.js' %}"></script>
    <script src="{% static 'global/js/highcharts.js' %}"></script>
    <script src="{% static 'global/js/highcharts.src.js' %}"></script>
    <script src="{% static 'global/js/highcharts-gantt.js' %}"></script>
    <script src="{% static 'global/js/highcharts-gantt.js' %}"></script>



   <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Saldo: {% block saldo %}{% endblock saldo %}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Dashboard</a></li>
        <li><a href="{% url 'Gastos:index' %}">Gastos</a></li>
        <li><a href="{% url 'FuenteDinero:index' %}">Fuente de Dinero</a></li>
        <li><a href="{% url 'Ingresos:index' %}">Ingresos</a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="#modal1">{{request.user.cliente}}</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Dashboard</a></li>
    <li><a href="{% url 'Gastos:index' %}">Gastos</a></li>
    <li><a href="{% url 'FuenteDinero:index' %}">Fuente de Dinero</a></li>
    <li><a href="{% url 'Ingresos:index' %}">Ingresos</a></li>
    <li><a class="waves-effect waves-light modal-trigger" href="#modal1">{{request.user.cliente}}</a></li>
  </ul>

    <div class="container">
    <br>
    <br>
      {% block container %}
      {% endblock container %}
    </div >

  {% block js %}  
  {% endblock js %}

  <!-- Modal Structure -->
  <div id="modal1" style="height:55%; width:35%;" class="modal modal-fixed-footer">
    <div class="modal-content" style="overflow:hidden; ">
      <form class="container" action="{% url 'Clientes:edit' %}" method="POST">
        {% csrf_token %}
        <div style="text-align: center;">
          <i class="material-icons" style="font-size: 80px;">person_outline</i>
        </div>
        <div class="input-field">
          <input placeholder="Ingrese Nombre" value="{{request.user.cliente.Nombre}}" name="nombre" id="nombre" type="text" class="validate" required>
          <label for="nombre">Nomnbre</label>
        </div>
          <div class="input-field">
          <input placeholder="Ingrese Apellido" value="{{request.user.cliente.Apellido}}" name="apellido" id="apellido" type="text" class="validate" required>
          <label for="apellido">Apellido</label>
        </div>
        <div class="input-field">
            <input placeholder="Ingrese Contraseña" value="" name="contra" id="pass" type="password" class="validate" >
            <label for="contraseña">Contraseña</label>
        </div>
        <div class="input-field">
            <input placeholder="Ingrese Contraseña" value="" name="confirmar" id="pass" type="password" class="validate" >
            <label for="contraseña">Confirmar</label>
        </div>
        <div class="center">
            <input type="submit" class="btn btn-success" value="Actualizar">
        </div>        
      </form>
      <!-- Flooter modal-->
      <div class="modal-footer" >
      <div class="container">
        <a href="{% url 'app_login:logout_view' %}"  class="modal-close container waves-effect waves-green btn-flat ">Cerrar Sesión</a>
      </div>
      </div>
    </div>
  </div>
  <!-- Modal Structure close-->
  <script>
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>
</body>
</html>