{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/dataTable/datatables.min.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>
<body>
    <script src="{% static 'global/js/jquery.min.js' %}"></script>
    <script src="{% static 'global/js/materialize.min.js' %}"></script>
    <script src="{% static 'plugins/dataTable/datatables.min.js' %}"></script>
    <script src="{% static 'global/js/custon.js' %}"></script>
    <script src="{% static 'global/js/highcharts.js' %}"></script>
    <script src="{% static 'global/js/highcharts.src.js' %}"></script>
    <script src="{% static 'global/js/highcharts-gantt.js' %}"></script>
    <script src="{% static 'global/js/highcharts-gantt.js' %}"></script>
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Control Finanzas</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Dashboard</a></li>
          <li><a href="{% url 'FuenteDinero:index' %}">Fuente de Dinero</a></li>
          <li><a href="{% url 'Ingresos:index' %}">Ingresos</a></li>
          <li><b><a href="#">Saldo: ({% block saldo %}{% endblock saldo %})</a></b></li> 
          <li><a href="{% url 'app_login:logout_view' %}">Salir ({{request.user.cliente}})</a></li>
        </ul>

      </div>
    </nav>
    <div class="container">
    <br>
    <br>
      {% block container %}
      {% endblock container %}
    </div >

  {% block js %}{% endblock js %}
</body>
</html>