{% extends 'base.html' %}
{% block container %}
    <div class="row">
        <div class="col s12 l12">
            
                <label>Fuente</label>
                 <select name="Fuente">
                    {% for f in Fuentes %}
                        <option value="{{f.id}}">Fuente: {{ f.Fuente }} - {{ f.Saldo }}</option>
                    {% endfor %}
                </select>
            
            <div>
                <label>Fecha Inicial</label>
                <input type="date" name="Fecha" id="start" name="trip-start" value="{% now 'Y-m-d' %}"/>
            </div>
            <div>
                <label>Fecha Final</label>
                <input type="date" name="Fecha" id="end" name="trip-start" value="{% now 'Y-m-d' %}"/>
            </div>
            
            <figure class="highcharts-figure">
                <div id="container">
                    <p class="highcharts-description">
                        Filtro por fecha
                    </p>
                </div>
            </figure>
        </div>
        
        <div class="col s12 l7">
            <table>
                <thead>
                    <tr>
                        <th>Movimiento</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Tipo Gasto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in Fuentes %}
                    <tr> 
                        <td>{{ 'Ingreso/Gasto'}}</td>
                        <td>{{ f.Saldo }}</td>
                        <td>{{ f.Fecha_Registro }}</td>
                        <td>{{ 'Tipo/Vacío'}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No se encontraron resultados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}
    
    
{% block js %}
        <script>
            // Build the chart
            Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Browser market shares in January, 2018'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                name: '{{request.user.cliente}}',
                y: 61.41,
                sliced: true,
                selected: true
                }, {
                name: 'Internet Explorer',
                y: 11.84
                }, {
                name: 'Firefox',
                y: 10.85
                }, {
                name: 'Edge',
                y: 4.67
                }, {
                name: 'Safari',
                y: 4.18
                }, {
                name: 'Other',
                y: 7.05
                }]
            }]
            });
        </script>
{% endblock %}