{% extends 'base.html' %}
{% block title %}Fuentes de Dinero{% endblock title %}

{% block container %}
<div class="row">
    <div class="col s12 l3">
        <form  method="post">
            {% csrf_token %}
            <h4> {% if requesf.user.is_staff %}  {{request.user}} {% else %} {{request.user.cliente  }} {% endif %}</h4>
            <h4> {% if not request.user.is_staff %} Saldo Total: {{Saldo}} {% endif %}</h4>
                
            <div>
                <label>Fecha</label>
                <input type="date" name="fecha_creacion" id="start" name="trip-start" value="2020-07-10">
            </div>
            <div>
                <input placeholder="Remitente" id="name" name="nombre_remitente" type="text" class="validate"/>
            </div>
            {% if request.user.is_staff == False %}
                <div>
                    <input placeholder="Cuenta Destino" id="name" name="cuentaDestino" type="text" class="validate"/>
                </div>
            {% endif %}
            <div>
                <input placeholder="Cantidad" id="cantidad" name="cantidad" type="text" class="validate"/>
            </div>
            <button style="background-color: blueviolet;" class="btn waves-effect waves-light" type="submit">Guardar
                    <i class="material-icons right" >keyboard_arrow_right</i>
            </button>
        </form>
        
    </div>
    <div class="col s12 l8">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Fuente</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                {% for f in Fuentes %}
                <tr> 
                    <td>{{ f.Fecha_Registro }}</td>
                    <td>{{ f.Fuente }}</td>
                    <td>{{ f.Saldo }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No se encontraron resultados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock container %}