{% extends 'base.html' %}
{% block title %}Fuentes de Dinero{% endblock title %}

{% block container %}
<div class="row">
    <div class="col s12 l3">
        <form action="{% url '' %}" method="post">
            {% csrf_token %}
            <label>Cuenta</label>
                <input id="cuenta" name="cuenta" type="text" {% if request.user.is_staff == False %} value="{{request.user.customer.id}}" disabled="disabled"
                    {% endif %}  class="validate"/>
            <div>
                <label>Fecha</label>
                <input type="date" name="fecha_creacion" id="start" name="trip-start" value="2020-07-10">
            </div>
            <div>
                <input placeholder="Remitente" id="name" name="nombre_remitente" type="text" class="validate"/>
            </div>
            {% if request.user.is_staff == False %}
                <div>
                    <input placeholder="Cuenta Destino" id="name" name="cuentaDestino" type="text" class="validate"/>
                </div>
            {% endif %}
            <div>
                <input placeholder="Cantidad" id="cantidad" name="cantidad" type="text" class="validate"/>
            </div>
            <button style="background-color: blueviolet;" class="btn waves-effect waves-light" type="submit">Guardar
                    <i class="material-icons right" >keyboard_arrow_right</i>
            </button>
        </form>
    </div>
    <div class="col s12 l8">
        <table class="table table-hover striped purple lighten-4">
            <thead>
                <tr>
                    <th>Cuenta</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Remitente</th>
                    <th>Cuenta Destino</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for t in transacciones %}
                <tr> 
                    <td>{{ t.cuenta }}</td>
                    {% for id, data in t.TYPETRANS %}
                        {% if t.tipo == id %}
                            <td>{{ data }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ t.fecha_creacion }}</td>
                    <td>{{ t.nombre_remitente }}</td>
                    <td>{{ t.cuentaDestino }}</td>
                    <td>{{ t.cantidad }}</td>
                    <td class="text-center">
                        <a  href="" class="text-danger"><span class=""></span></a>
                        <a  class="text-success"><span class="fas fa-edit"></span></a> 
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-danger text-center">No se encontraron resultados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock container %}