{% extends "base.html" %}
{% load humanize %}
{% block title %}
    Gastos
{% endblock  %}

{% block container %}

    <div class="row" style="margin-top: 3%">
        <!-- formulario -->
        <div class="col s12 l3">
            {% if GastoActual %}
            <form action="{% url 'Gastos:actualizar_gasto' GastoActual.id %}" method="post">
            {% else %}
            <form action="{% url 'Gastos:registrar_gasto' %}" method="post">
            {% endif %}

            {% if messages %}
                <div class="alert alert-success mb-2">
                {% for message in messages %}
                    {{ message|safe }}
                {% endfor %}
                </div>
            {% endif %}
                {% csrf_token %}
                <div class="mb-3">
                    <div class="input-field" required autofocus>
                        <select class="form-control"  name="tipo" id="tipo">
                            {% for p in TipoGasto %}
                                
                                {% if GastoActual.Tipo.id == p.id %}
                                    <option value="{{ p.id }}" selected>{{ p.Tipo }}</option>
                                {% else %}
                                    <option value="{{ p.id }}">{{ p.Tipo }}</option>
                                {% endif %}

                            {% empty %}
                                    <option value="" disabled selcted>Ingrese una Tipos de gasto</option>
                            {% endfor %}
                                    <option value="" disabled selcted><a >Agrear Nuevo </a></option>
                        </select>
                        <label>Tipo de gasto</label>
                    </div>
                </div>
                
                <div>
                    <div class="input-field"  required autofocus>
                        <select class="form-control" name="fuente" id="fuente">
                            {% for d in Fuente %}
                                
                                {% if GastoActual.Fuente.id == d.id %}
                                    <option value="{{ d.id }}" selected>{{ d.Fuente }} : {{d.Saldo|floatformat:2|intcomma}} Lps.</option>
                                {% else %}
                                    <option value="{{ d.id }}">{{ d.Fuente }} : {{d.Saldo|floatformat:2|intcomma}} Lps.</option>
                                {% endif %}
                                    
                                

                            {% empty %}
                                <option value="-1">Ingrese una fuentes de dinero</option>
                            {% endfor %}
                        </select>
                        <label>Fuentes</label>
                    </div>
                </div>
                
                <div>
                    <div class="input-field">
                        <input placeholder="Ingrese un monto" value="{{ GastoActual.Monto }}" name="monto" pattern="[0-9]+" id="monto" min="1" step="1" type="number" class="validate" required>
                        <label for="monto">Monto</label>
                    </div>
                </div>
                

                <div>
                    {% if GastoActual %}
                    <input type="submit" class="btn btn-success" value="Actualizar Gasto">
                    {% else %}
                    <input type="submit" class="btn btn-success" value="Registrar Gasto">
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col s12 l9">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Fuente</th>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for g in Gasto %}
                    <tr>
                        <td>{{ g.Fuente.Fuente }}</td>
                        <td>{{ g.Fecha_Registro }}</td>
                        <td>{{ g.Tipo }}</td>
                        <td>{{ g.Monto|floatformat:2|intcomma}} Lps.</td>
                        <td class="text-center">
                            <a onclick="if (!confirm('Confirme la eliminacion')) return false;" href="{% url 'Gastos:eliminar_gasto' g.id g.Fuente.id g.Monto %}" class="text-danger"><i class="Small material-icons">delete</i></a>
                            <a href="{% url 'Gastos:actualizar_gasto' g.id %}" class="text-danger"><i class="Small material-icons">edit</i></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-danger text-center">No se encontraron resultados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% block js %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        
        $(function () {
        
            setTimeout(() => {
                $('.alert').slideUp(function () {
                    $(this).remove();
                });
            }, 3000)
        });
    </script>
    {% endblock js %}
{% endblock  %}

{% block saldo %}{{Saldo|floatformat:2|intcomma}} Lps{% endblock saldo %}