{% extends "base.html" %}
{% load humanize %}
{% block title %}
    Gastos
{% endblock  %}

{% block container %}

    <div class="row" style="margin-top: 3%">
        <!-- formulario -->
        <div class="col s12 l3">
            {% if GastoActual %}
            <form action="{% url 'Gastos:actualizar_gasto' GastoActual.id %}" method="post">
            {% else %}
            <form action="{% url 'Gastos:registrar_gasto' %}" method="post">
            {% endif %}

            {% if messages %}
                <div class="alert alert-success mb-2">
                {% for message in messages %}
                    {{ message|safe }}
                {% endfor %}
                </div>
            {% endif %}
                {% csrf_token %}
                <div class="input-field" required autofocus>
                    <div class="row">
                        <div class="col l10">
                            <select class="form-control"  name="tipo" id="tipo">
                                {% for p in TipoGasto %}
                                    
                                    {% if GastoActual.Tipo.id == p.id %}
                                        <option value="{{ p.id }}" selected>{{ p.Tipo }}</option>
                                    {% else %}
                                        <option value="{{ p.id }}">{{ p.Tipo }}</option>
                                    {% endif %}
    
                                {% empty %}
    
                                {% endfor %}
                            </select>
                            <label>Tipo de gasto</label>
                        </div>
                        <div class="col l2">
                            <a class="btn-floating btn modal-trigger" href="#modalTipoGasto"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="input-field"  required autofocus>
                        <select class="form-control" name="fuente" id="fuente">
                            {% for d in Fuente %}
                                
                                {% if GastoActual.Fuente.id == d.id %}
                                    <option value="{{ d.id }}" selected>{{ d.Fuente }} : {{d.Saldo|floatformat:2|intcomma}} Lps.</option>
                                {% else %}
                                    <option value="{{ d.id }}">{{ d.Fuente }} : {{d.Saldo|floatformat:2|intcomma}} Lps.</option>
                                {% endif %}
                                    
                                

                            {% empty %}
                                <option value="">Ingrese una fuentes de dinero</option>
                            {% endfor %}
                        </select>
                        <label>Fuentes</label>
                    </div>
                </div>
                
                <div>
                    <div class="input-field">
                        <input placeholder="Ingrese un monto" value="{{ GastoActual.Monto }}" name="monto" pattern="[0-9]+" id="monto" min="1" step="1" type="number" class="validate" required>
                        <label for="monto">Monto</label>
                    </div>
                </div>
                

                <div>
                    {% if GastoActual %}
                    <input type="submit" class="btn btn-success" value="Actualizar Gasto">
                    {% else %}
                    <input type="submit" class="btn btn-success" value="Registrar Gasto">
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col s12 l9">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Fuente</th>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for g in Gasto %}
                    <tr>
                        <td>{{ g.Fuente.Fuente }}</td>
                        <td>{{ g.Fecha_Registro }}</td>
                        <td>{{ g.Tipo }}</td>
                        <td>{{ g.Monto|floatformat:2|intcomma}} Lps.</td>
                        <td class="text-center">
                            <a onclick="if (!confirm('Confirme la eliminacion')) return false;" href="{% url 'Gastos:eliminar_gasto' g.id g.Fuente.id g.Monto %}" class="text-danger"><i class="Small material-icons">delete</i></a>
                            <a href="{% url 'Gastos:actualizar_gasto' g.id %}" class="text-danger"><i class="Small material-icons">edit</i></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-danger text-center">No se encontraron resultados</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if TotalGastos > 0 %}
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-danger text-center">
                            <div class="right-align"><b>Total:
                                <span id="total">{{ TotalGastos |floatformat:2|intcomma}} Lps.</span>
                                </b></div>
                            </td>
                        </tr> 
                    </tfoot>    
                   {% endif %}
            </table>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modalTipoGasto" style="height:60%; width:60%;" class="modal modal-fixed-footer">
        <div class="modal-content" style="overflow:hidden; ">
            <form class="container"id='formTipoGasto' action="{% url 'Gastos:addTipoGasto' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12 l3">
                        {% csrf_token %}
                        <div class="input-field">
                            <input placeholder="Ingrese Tipo" name="tipo" id="tipoGasto" type="text" class="validate" required>
                            <label for="tipoGasto">Tipo</label>
                        </div>

                        <button id="guardarTipo" onclick='javascrips:funtions(){$("#formTipoGasto").submit()}' class="btn btn-success">Registrar</button>
                    </div>
                    <div class="col s12 l9">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in TipoGasto %}
                                <tr >
                                    <td>{{ t.Tipo }}</td>
                                    <td class="text-center">
                                        <a onclick="if (!confirm('Confirme la eliminación')) return false;" href="{% url 'Gastos:deleteTipoGasto' t.id %}" class="text-danger"><i class="Small material-icons">delete</i></a>
                                        <a href="javascript:editTipoGasto({{t.id}}, '{{t.Tipo}}' )" class="text-danger"><i class="Small material-icons">edit</i></a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-danger text-center">No se encontraron resultados</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
    <!-- Modal Structure close-->
    {% block js %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        
        $(function () {
        
            setTimeout(() => {
                $('.alert').slideUp(function () {
                    $(this).remove();
                });
            }, 3000)
        });

        function editTipoGasto(id,tipo){
            $('#tipoGasto').val(tipo); 
            $('#guardarTipo').attr('onclick','javascript:confirmarEdicion('+id+')'); 
            $('#formTipoGasto').attr('action',''); 
            $('#guardarTipo').text('Actualizar Tipo'); 
        }

        function confirmarEdicion(id){
            var tipo = $('#tipoGasto').val();
            $.ajax({
                type: 'POST',
                url: '{% url 'Gastos:editTipoGasto' %}',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    id: id,
                    tipo: tipo,
                },
                success: function(data){
                    if(data == 1){
                        $('#modalTipoGasto').modal('close');
                    }
                }
            });
        }

    </script>
    {% endblock js %}
{% endblock  %}

{% block saldo %}{{Saldo|floatformat:2|intcomma}} Lps{% endblock saldo %}